# 백엔드 env
LLM_TEMPERATURE=0.3
LLM_MAX_TOKENS=4096
OPENAI_API_KEY=
OPENAI_BASE_URL=https://api.openai.com/v1
OPENAI_LLM_MODEL=gpt-4o-mini

TAVILY_API_KEY=

WHEATHER_API_KEY_HUB= #기상청 API 
KAMIS_API_KEY= #KAMIS API
KAMIS_ID=
REDIS_HOST=localhost
REDIS_PORT=6380

# Personal Access Token 사용
LANGCHAIN_TRACING_V2=true
LANGCHAIN_ENDPOINT=https://api.smith.langchain.com
LANGCHAIN_API_KEY= #랭체인/랭스미스 API 키
LANGSMITH_API_KEY= #랭체인/랭스미스 API 키
LANGCHAIN_PROJECT="프로젝트 명명"

MILVUS_HOST="127.0.0.1"
MILVUS_PORT="19530"
MILVUS_TOPK="15"
PROBLEMS_COLL="problems"
CONCEPT_COLL="concepts"
MILVUS_QUESTION_PATH="C:\project\Ee-Tea\Agent\ET_Agent\data\questions.json"
# 데이터베이스 설정
DATABASE_URI=postgresql://postgres:postgres@langgraph-postgres:5432/postgres
DATABASE_URL=postgresql://postgres:postgres@langgraph-postgres:5432/postgres
REDIS_URL=redis://localhost:6380

# LangGraph API 설정
LANGGRAPH_API_URL=http://localhost:8123

GOOGLE_REDIRECT_URI=http://255.255.255.0:8124/auth/google/callback
GOOGLE_CLIENT_ID= # 구글 클라이언트 ID
NEXT_PUBLIC_GOOGLE_REDIRECT_URI=http://255.255.255.0:8124
NEXT_PUBLIC_GOOGLE_CLIENT_ID= #구글 클라이언트 ID
GOOGLE_CLIENT_SECRET= #구글 클라이언트 시크릿릿

# FRONTEND_BASE_URL=http://localhost:3000
FRONTEND_BASE_URL=http://255.255.255.0:3000

NAVER_REDIRECT_URI=http://255.255.255.0:8124/auth/naver/callback
NAVER_CLIENT_ID= #네이버 클라이언트 I
NAVER_CLIENT_SECRET= #네이버 시크릿릿

KAKAO_CLIENT_SECRET= #카카오 시크릿
KAKAO_REST_API_KEY= #카카오 API 키
KAKAO_CLIENT_ID= #카카오 클라이언트 ID
KAKAO_REDIRECT_URI=http://255.255.255.0:8124/auth/kakao/callback

NEXT_PUBLIC_BACKEND_ORIGIN=http://localhost:8000
NEXT_PUBLIC_AUTH_ORIGIN=http://255.255.255.0:8124
NEXT_PUBLIC_BFF_ORIGIN=http://localhost:8100
