fastapi
uvicorn[standard]
httpx
pydantic
python-dotenv
redis
sqlalchemy
psycopg[binary]
asyncpg
psutil
requests
openai
typing_extensions
langsmith
langchain
langchain-openai
langchain-community
langchain-core
langgraph
langgraph-checkpoint-postgres
langchain-huggingface
langchain-milvus
pymilvus
transformers
sentence-transformers
torch
duckduckgo-search
wikipedia
datasets
rank-bm25
docling
pdfplumber
reportlab
tavily-python
faiss-cpu