fastapi
uvicorn[standard]
httpx
pydantic
python-dotenv
redis
sqlalchemy
psycopg[binary]
asyncpg
typing
psutil
datetime
langchain-openai
langchain-core
langgraph
langchain-huggingface
langchain-milvus
pymilvus
transformers
sentence-transformers
torch